<h3>Edit Action #<%= @action.id %> below:</h3>
<!-- Edit form  -->
<form action="/actions/<%= @action.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH" id="hidden">
  <div class="form-group">
    <label for="action[action_name]">Action Name:</label><br>
    <input type="text" name="[action]action_name" class="form-control" id="action_name" value="<%= @action.action_name %>" placeholder="Action name">
  </div>
  <div class="form-group">
    <label for="action[status]">Status</label>
    <input type="text" name="action[status]" class="form-control" id="status" value="<%= @action.status %>" placeholder="Status">
  </div>
  <button type="submit" input type="submit" value="Submit" class="btn btn-primary">Submit</button>
</form>
