<h2>Edit Action #<%= @action.id %> below:</h2>

<form action="/actions/<%= @action.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="action[action_name]">Action Name:</label><br>
  <input id="action_name" type="text" name="action[action_name]" value="<%= @action.action_name %>" ><br><br>

  <label for="action[status]">Action Status:</label><br>
  <input id="status" type="text" name="action[status]" value="<%= @action.status %>" ><br><br>

  <input type="submit" value="Update Action">
