<h1>All Actions to date:</h1>

<%@actions.each do |action|%>
<p>
  <ul>
    <li>Action Name: <%= action.action_name %></li>
    <li>Action Status: <%= action.status %></li>
  </ul>
</p>
<% end %>


<h5><a href="/users">Return to menu</a></h5>
