<h1>All Actions to date:</h1>

<% @actions.each do |action| %>
<p>
  <ul>
    <li>Action Name:<%= action.action_name %></li>
    <li>Action created by: <%= action.user_id %></li>
    <li>Action Status: <%= action.status %></li>
</p>
  </ul>
<% end %>

<h5><a href="/users">Return to menu</a></h5>
