All your Actions to date
<%@user.actions.each do |action|%>
<p>Action Name:<%= action.action_name %></p>
<p>Action Status:<%= action.status %></p>
<% end %>

<h5><a href="/users">Return to menu</a></h5>
