<h1>Act now to save the earth!</h1><br>
<h3>Create your action in the form below:</h3>

<form action="create" method="POST">
    <div class="form-group">
      <input type="text" name="[action]action_name" placeholder="Action Name:">
      <input type="text" name="[action]status" placeholder="Status:">
    <div>
      <input type="submit" value="Submit" class="btn btn-primary">
</form>
