<h1>Act now to save the earth!</h1><br>
<h2>Create your action in the form below:</h2>

<form action="create" method="POST">
  <input type="text" name="[action]action_name" placeholder="Action Name:">
  <input type="text" name="[action]status" placeholder="Status:">
  <input type="submit" value="Submit">
</form>
