<h2>Action #<%= @action.id %></h2>
<p>
  Action Name: <%= @action.action_name %><br>
  Action Status: <%= @action.status %></p>

  <!-- delete action-->
   <form action="/actions/<%= @action.id %>" method="POST">
     <input type="hidden" name="_method" value="DELETE" id="hidden">
     <input type="submit" name="submit" value="Delete Action">
  </form>

<h5><a href="/users">Return to menu</a></h5><br>
