<li>Action Name:<%= action.action_name %></li>
<li>Action Status:<%= action.status %></li>

<h2>Here are all your actions to date:</h2>

<%@actions.each do |action|%>
<p>
  <li>
    <ol>Action Name:<%= action.action_name %></ol>
    <li>Action Status:<%= action.status %>
<% end %>
  </li>
</p>
