<h2>Action #<%= @action.id %></h2>
<p>
  Action Name:<%= @action.action_name %><br>
  Action Status:<%= @action.status %></p>

<h5><a href="/actions/:id/edit">Edit your actions</a></h5><br>
<h5><a href="/users/show">View all your actions</a></h5><br>
<h5><a href="/users">Return to menu</a></h5><br>
