<h4>You just created an action:</h4><br>
  <!-- add ability to edit here -->
<h1>Action Name:<%= @action.action_name %></h1>
<h1>Action Status:<%= @action.status %></h1>

<h5><a href="/users/show">View all your actions</a></h5>
<h5><a href="/users">Return to menu</a></h5>
