<h1>Welcome, <%= current_user.username %></h1>

<h2>Here are your actions to date:</h2>




<h2><a href="/actions/new">Create a new action</a> to save the planet.</h2>

<p><a href="/logout">Log Out</a></p>
