<h3>Update your username:</h3><br>

    <form action="/users/<%= current_user.id %>" method="POST">
      <input id="hidden" type="hidden" name="_method" value="PATCH">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" value="<%= current_user.username %>" class="form-control" id="username" placeholder="Enter new username">
        </div>
        <button type="submit" input type="submit" value="Submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
