<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<h3>Update your username:</h3><br>
  <form method="post" action="/users/<%= current_user.id %>">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
      <div class="form-group">
        <label for="username">New Username:</label>
        <input type="text"
        name="username"
        value="<%= current_user.username %>"
        class="form-control"
        id="username">
      </div>
      <button type="submit" value="Submit" input type="submit" id="submit" class="btn btn-primary">Submit</button>
  </form>
