<h1>Welcome, <%= current_user.username %></h1><br>
<h2>On this page, you can:</h2><br>
<h3><a href="/actions/new">Create a new action</a> to save the planet.</h3><br>
<h3><a href="/actions/show">View your actions</a> to save the planet.</h3><br>
<h5>Update your username</h5><br>
<h5><a href="/logout">Log Out</a></h5>
