<main role="main" class="inner cover">
  <p class="lead">Not sure where to start? Here are some ideas:</p>
  <img src="/images/KEEP THE OCEANS CLEAN.jpg">
  <img src="/images/LET YOU IMAGINATION FLY_RECYCLE.jpg">
  <img src="/images/LOVE_OUR FRIENDS.jpg">
  <img src="/images/MOVE_USE OUR BIKE.jpg">
  <img src="/images/PLANT CARE_A TREE.jpg">
  <img src="/images/REMEMBER_REUSABLE BAG.jpg">
  <img src="/images/SAVE_WATER.jpg">
  <img src="/images/SEPARATE_RECYCLE_YOUR TRASH.jpg">
  <img src="/images/USE RENEWABLE ENERGIES.jpg">

</main>
