  <main role="main" class="inner cover">
    <!-- <h1 class="cover-heading">Take Action Now!</h1> -->
    <img src="/images/KIDS_WE CAN SAVE THE EARTH.jpg">
    <p class="lead">Create, update and track your daily efforts.</p>
  </main>
