<!-- <div class="container">
  <header>
    <!-- <img src="images/KIDS_WE CAN SAVE THE EARTH.jpg" class="img-responsive main-image"> -->
  <!-- </header> -->
  <!-- <div class="col-md-8 col-md-offset-2"> --> -->

    <!-- <div class="content"> -->
      <p>
        Lorem ipsum dolor amet semiotics shaman waistcoat photo booth vegan hella air plant mlkshk iceland tattooed brunch yuccie. Blue bottle intelligentsia 90's, bespoke kitsch live-edge squid vexillologist af ethical. Meditation iceland keffiyeh vaporware 3 wolf moon hoodie. Helvetica schlitz brunch, succulents activated charcoal seitan la croix portland trust fund. Cronut succulents twee schlitz meditation salvia, hoodie four loko austin flexitarian vaporware pabst. Salvia wayfarers banh mi chillwave 8-bit, portland bitters.
        <a href='/users/signup'>Sign up</a> or <a href="/users/login">log in</a> to record and track your daily actions to protect the environment. Earn points and play with friends.</p>
      </p>
    <!-- </div> -->

  <!-- </div>
</div> -->
