<div class="container">
  <header><img src="images/KIDS_WE CAN SAVE THE EARTH.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">

    <div class="content">
      <p><a href='/users/signup'>Sign up</a> or <a href="/users/login">log in</a> to record and track your daily actions to protect the environment. Earn points and play with friends.</p>
      <p>Need ideas? Check <a href= "https://science.howstuffworks.com/environmental/green-science/save-earth-top-ten.htm">here.</a></p>
    </div>

  </div>
</div>
