<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<main role="main" class="inner cover">
    <p class="lead">Create, update and track your daily efforts to reduce your footprint and protect the environment.</p>
    <img src="/images/KIDS_WE CAN SAVE THE EARTH.jpg">
  </main>
